<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MorseConnect">

        <!-- SETTINGS -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- FORGOT PASSWORD -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ForgotPasswordOtpActivity"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <!-- SIGN UP -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false" />

        <!-- LOGIN IS NOW THE LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- SplashActivity is no longer the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="false" />

        <activity
            android:name=".QuizActivity"
            android:exported="false" />

        <activity
            android:name=".PracticeActivity"
            android:exported="false" />

        <activity
            android:name=".LearnActivity"
            android:exported="false" />

        <activity
            android:name=".QuizModeActivity"
            android:exported="false" />

        <activity
            android:name=".DailyChallengeActivity"
            android:exported="false" />

        <activity
            android:name=".ChallengeModeActivity"
            android:exported="false" />

        <activity
            android:name=".SignalArchitectActivity"
            android:exported="false" />

        <activity
            android:name=".LibraryModeActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />

    </application>

</manifest>
